@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    bool isAuthenticated = User?.Identity?.IsAuthenticated ?? false;
}

<div class="text-center">
    @if (!isAuthenticated)
    {
        <a href="/login">
            <img src="~/images/sits_02.png" alt="Sign in through Steam" />
        </a>
    }
    else
    {
        <a href="https://steamcommunity.com/profiles/@Model.SteamPlayer?.SteamId" target="_blank">
            <img src="@Model.SteamPlayer?.AvatarFull" alt="User Avatar" class="rounded-circle mb-3"/>
        </a>
        <h1 class="display-5">Welcome, <strong>@Model.SteamPlayer?.PersonaName</strong></h1>

        @if (Model.SteamOwnedGames != null)
        {
            <div class="mt-4">
                <p><strong>Total Games:</strong> @Model.TotalGames</p>
                <p><strong>Total Playtime:</strong> @Model.TotalplaytimeHours hours</p>
            </div>
        }

        <p>
            <a href="https://steamcommunity.com/profiles/@Model.SteamPlayer?.SteamId" target="_blank" class="btn btn-outline-secondary btn-sm">
                View on Steam
            </a>
        </p>

        @if (Model.RecentlyPlayedGames != null && Model.RecentlyPlayedGames.Any())
        {
            <h2 class="mt-4 mb-3">Recent Activity (@Model.PlaytimeLast2WeeksHours.ToString("F1") hours past 2 weeks)</h2>
            <div class="row justify-content-center">
                @foreach (var game in Model.RecentlyPlayedGames)
                {
                    <div class="col-md-3 mb-3">
                        <a href="https://store.steampowered.com/app/@game.AppId" target="_blank" class="text-decoration-none text-reset">
                            <div class="card h-100">
                                <img src="@game.HeaderImageUrl" class="card-img-top" alt="@game.Name" />
                                <div class="card-body">
                                    <h5 class="card-title">@game.Name</h5>
                                    <p class="card-text">@((game.Playtime2Weeks / 60.0).ToString("F1")) hours played</p>
                                </div>
                            </div>
                        </a>
                        
                    </div>
                }
            </div>
        }
    }
</div>
